<form method="post" class="form-register">
	<div>
		<div>
			<label id="register-title" for="username">Pseudo</label>
			<input type="text" id="username" required placeholder="username">
		</div>
		<div>
			<label id="register-title" for="password">Mot de Passe</label>
			<input type="text" id="password" required placeholder="password">
		</div>
	</div>
	<!-- Valider connexion -->
	<button type="submit" id="connecté">Connexion</button>
</form>
