<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
            <title>Contact</title>
		{% endblock %}
		{% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="CSS/normalize.css">
            <link rel="stylesheet" href="CSS/contact.css">
		{% endblock %}
    </head>
	{% block body %}
        <body>
            <header>
                <nav class="mobilenav">
                    <div>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <a href="#"><i class="fas fa-power-off"></i></a>
                </nav>
                <nav id="navIndex">
                    <a href="#"><img src="image/logo_geekandstart.png" alt="logo"></a>
                    <div class="login-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="username" name="username">
                            <input type="password" placeholder="pasword" name="psw">
                            <button type="submit">connexion</button>
                        </form>
                    </div>
                </nav>
                <section id="principal">
                    <form method="post" id="contacter">
                        <div>
                            <input type="text" placeholder="nom" name="Nom Prenom">
                            <input id="email" type="email" placeholder="email" name="Votre e-mail">
                        </div>
                        <input type="text" placeholder="objet" name="Objet">
                        <textarea name="message" placeholder="Votre message" id="message" cols="30" rows="10"></textarea>
                        <button type="submit">Contacte-Nous</button>
                    </form>
                </section>
                <section id="principal">
                    <div id="pageRegister">
                        <h1>Pas de compte?</h1>
                        <button type="button"><a href="http://stc-wf3.test/register">Rejoins-Nous</a></button>
                    </div>
                </section>
                <aside id="social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </aside>
            </header>
            <script src="https://kit.fontawesome.com/e4895b9a2a.js" crossorigin="anonymous"></script>
        </body>
	{% endblock %}
</html>