{% extends 'parent.html.twig' %}





{% block main %}
<section>
			<h2>Pourquoi nous rejoindre</h2>
			<article>
				<p>
					Lorem ipsum dolor sit amet consectetur adi elit. Quia ab nihil repellat illum sit alias impedit eius
					laudantdzzium dolorem inventore rem iusto eum, doloribus perferendis veniam doloremque itaque debitis
					velit beatae rerum? Sunt iure explicabo magni impedit ad earum omnis obcaecati corporis, officiis
					ipsum eveniet enim numquam ex blanditiis libero!
				</p>
			</article>



		</section>
		<!-- J'ai mis des cards pour le moment  -->

		<section>
			<h2>Ils sont deja membre</h2>
			<div>
				<!--Grid des User -->
				{% for membre in membres %}
				<article>
					<img src="uploads/{{membre.imageProfil}}" alt="image d'attente">
					<h3>{{membre.username}}</h3>
					<p>
						Lorem ipsum dolor sit amet
						consectetur 1
					</p>
				</article>
				{% else %}
				<p>
					il n'a pas de membres
				</p>
				{% endfor %}
			</div>
			<!-- Appel a l'action -->
			<section>
				<input class="favorite styled" type="button" value="Rejoint nous">
			</section>
		</section>

{% endblock %}
