{% extends 'parent.html.twig' %}





{% block main %}
<section>
			<h2>Pourquoi nous rejoindre</h2>
			<article>
				<p>
					Viens à la rencontre de personnes qui comme toi partage une même passion commune autour du monde du geek. 
					Tu trouveras ici des fans de jeux vidéos, de cinema, de lecture...
					qui auront un plaisir à echanger avec toi sur ce qui leur passionne au quotidien... 
					N'hesite plus la communauté Ginder t'attend !
				</p>

				<p>
				 Enrichit ta culture du monde Geek en suivant l'actualité du monde Geek grâce au fil d'actualité présent sur ta page de ton profil
 				pour ne rien manquer sur ce qui se passe dans ce monde si passionnant ! 
				Gagne des Geekcoin en nous faisant partager ce que tu aimes et en élargissant ton cercle d'amis !
				</p>

			</article>



		</section>
		<!-- J'ai mis des cards pour le moment  -->

		<section>
			<h2>Ils sont deja membre</h2>
			<div>
				<!--Grid des User -->
				{% for membre in membres %}
				<article>
					<img src="uploads/{{membre.imageProfil}}" alt="image d'attente">
					<h3>{{membre.username}}</h3>
					<p>
						Comics/Jeux/Série
					</p>
				</article>
				{% else %}
				<p>
					il n'a pas de membres
				</p>
				{% endfor %}
			</div>
			<!-- Appel a l'action -->
			<section>

				<a href="{{path('app_register')}}"class="favorite styled" >Rejoins nous</a>
			</section>
		</section>

{% endblock %}
