<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="CSS/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <div>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <a href="#"><img src="images/logo_geekandstart_W.png" alt="logo"></a>
        </nav>
        <!-- Formulaire d'inscription -->
        <section id="principal">
            <section id="inscription">
                <form method="post">
                    <div>
                        <div>
                            <label id="title" for="username">Pseudo</label>
                            <input type="text" id="username" required placeholder="username">
                        </div>
                        <div>
                            <label class="sexe" for="sexe">
                                <span id="title">Sexe</span>
                                <select name="sexe" id="sexe" required>
                                    <option value=""></option>
                                    <option value="homme">Homme</option>
                                    <option value="femme">Femme</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label id="title" for="password">Mot de Passe</label>
                            <input type="text" id="password" required placeholder="password">
                        </div>
                        <div>
                            <label id="title" for="date_naissance">Née le</label>
                            <input type="date" id="date_naissance" required placeholder="date_naissance">
                        </div>
                    </div>
                    <!-- Vérification email -->
                    <div>
                        <div>
                            <label id="title" for="email1">Email</label>
                            <input type="email" id="email1" required placeholder="email">
                        </div>
                        <div>
                            <label id="title" for="email2">Confirmer Email</label>
                            <input type="text" id="email2" required placeholder="email">
                        </div>
                    </div>
                    <label for="cgu">
                        <input type="checkbox" id="cgu">
                        <span>Je certifie avoir plus de 18ans;<br>Et confirme avoir lu et accepté les conditions générale d'utilisation.</span>
                    </label>
                    <button type="submit" id="rejoindre">Rejoins-Nous!</button>
                </form>
                <a href="#">Nous Contacter</a>
            </section>
        </section>

        <!-- Se Connecter -->

        <section id="principal">
            <section id="connexion">
                <h1>Déjà membre? <br>Connecte toi.</h1>
            </section>
            <!-- Formulaire Connexion -->
            <section id="connexion2">
                <form method="post">
                    <div>
                        <div>
                            <label id="title" for="username">Pseudo</label>
                            <input type="text" id="username" required placeholder="username">
                        </div>
                        <div>
                            <label id="title" for="password">Mot de Passe</label>
                            <input type="text" id="password" required placeholder="password">
                        </div>
                    </div>
                    <!-- Valider connexion -->
                    <button type="submit" id="connecté">Connexion</button>
                </form>
            </section>
        </section>
        
    </header>
    <script src="https://kit.fontawesome.com/e4895b9a2a.js" crossorigin="anonymous"></script>
</body>
</html>