/*******GENERAL*****/
* {
    box-sizing: border-box;
}

body {
    background-color: #111a39;

    /*1.6 rem => 16px*/
}

/*vm => class qui permet de cacher une partie des profil et articles en vue mobile*/
/*vt => class qui permet de cacher une partie articles en vue tablette*/




/**********************VUE MOBILE(min 350px)*****************************/


/*****Partie Header*******/

header {
    position: relative;
    background-color: #2e416f;
    padding-bottom: 3rem;
}


.profil {
    position: relative;
    margin-left: 11rem;
    margin-bottom: 0.4rem;
    color: white;
    display: flex;
    z-index: 1;
    top: 0;
}


.photoprofil {
    height: 4rem;
    border-radius: 50%;
    margin-top: 0.6rem
    
}

.menu_profil {

    display: none;
}


.info_profil {
    margin-top: 0.8rem;
    padding-right: 0.5rem;

}


.logo {
    display: none;
}


.liste {
    display: none;
}

/*********Main**********/


/***Partie Profils Connectés****/



.profils {
    margin-top: 4rem;
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2e416f;
}


.profilco {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 2rem;

}


.profilco_img {
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}


.description {

    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    
    color: black;
    bottom: 0; 

}

i {    
    font-size: 1.5rem;

}




.prenom {
    font-size: 0.8rem;
    padding-right: 0.5rem;
  
}


.lieu {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    
    
}


/*.boutonprofil {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #426a84;
    font-size: 0.8em;

}*/



/****Partie Actualités****/



.liste_articles {
    position: relative;
    background-color: #2e416f;
    margin-top: 5rem;

}


h2 {
    position: absolute;
    color: white;
    margin-top: 0.5rem;
    margin-left: 1rem;

}

.articles {

    display: grid;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;


}


.article {

    display: block;
    padding: 0.2rem;
    margin-top: 3rem;
}



.article_text {
    color: black;
    background-color: #c4c4c4;
    padding: 1rem;
}




.article_img {
    width: 100%;
    display: block;

}

.button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #426a84;
        font-size: 0.8em;

}

.vm{

    display: none;
    
}



/*****************************VUE TABLETTE(min:600px) ***************************************/

@media screen and (min-width: 600px){

    /*****Partie Header*******/
    
    .profil {
        color: white;
        display: flex;
        z-index: 1;
        margin-left: 26rem;
        top: 0;
    }
    
    
    .photoprofil {
        height: 4rem;
        border-radius: 50%;
        margin-top: 0.6rem
        
    }
    
    
    .info_profil {
        margin-top: 0.8rem;
        padding-right: 0.5rem;
    }
    
    
    
    /*****Partie Main*******/
    
    /****Profils Connectés****/
    
    
    
    .profils{
    
        padding: 3rem;
    
    }
    
    
    
    h2 {
        position: absolute;
        color: white;
        margin-top: 1rem;
        margin-left: 4rem;
    
    }
    
    .articles{
        padding: 3rem;
    
    }
    
    .article{
        padding: 1rem;
    }
    
    .articles_vt {
    
        display: flex;
        
    
    }
    
    .vt{
        display: initial;
    }
    
    .button{
        bottom: 1rem;
        font-size: 1em;
    
    }
    
}
    
    



/*****************************VUE ORDI***************************************/


@media screen and (min-width: 1000px) {

    /***********Partie header***************/
  
    header{
        padding-bottom: 0;
    }
    .navbar{
        display: none;
    }

    .photoprofil {
        height: 6rem;
        margin-top: 1rem;
        border-radius: 50%;
        padding-left: 1rem;
    }

    .profil {
        color: white;
        position: absolute;
        display: flex;
        right: 1rem;
        top: 1rem;
    }



    .menu_profil {

        display: flex;
        justify-content: space-between;
    }

    .info_profil {
        margin-top: 2rem;
    }

    .logo {
        display: initial;
        height: 5rem;
        margin-top: 3rem;
        margin-left: 1rem;
    }


    .liste {
        display: initial;
        margin-top: 9rem;
        margin-right: 1rem;
    }

    ul li {
        display: inline;
        padding: 10px;
    }

    .onglet {
        color: #426a84;
        text-decoration: none;
        text-transform: uppercase;

    }

    .deconnexion {
        color: red;
        text-decoration: none;
        text-transform: uppercase;
    }

    /*********Main**********/

    /****Partie Profils Connectés****/



    .profils {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #2e416f;
        margin: 6rem;
        padding: 3rem;
    }


    .profilco {
        display: flex;
        position: relative;
        padding: 0.3rem;   
    }

  
    .description{
        bottom: -2.5rem;
    }

    .prenom {
        font-size: 1rem;
        padding-right: 1rem;
      
    }
    
    
    .lieu {
        font-size: 1rem;
        padding-left:1rem;
        
        
    }

    .boutonprofil {

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0.6rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #426a84;
        font-size: 1.1em;

    }



    /****Partie Actualiés****/



    .liste_articles {
        position: relative;
        background-color: #2e416f;
        margin-top: 5rem;

    }


    h2 {
        position: absolute;
        color: white;
        margin-left: 7rem;
        margin-top: 2rem;

    }

    .articles {

        display: flex;
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-right: 3rem;
        margin-left: 3rem;

    }


    .article {
        display: block;
        padding: 0.5rem;
        margin-top: 5rem;
        margin-right: 0;
        margin-left: 0;
    
    }

    .articles_vt {

        display: initial;
        
    
    }



    .article_text {
        color: black;
        background-color: #c4c4c4;
        padding: 1rem;
    }




    .article_img {
        width: 100%;
        display: block;

    }

    .button{
        display: none;
    }

}