* {
    box-sizing: border-box;
}

body {
    background-color: #111A39;
    font-size: 1.6rem;
    
    /* => 16px */

}

a {
    text-decoration: none;
}

:root {
    /* Sélecteur root, ou sélecteur racine */
    /* On y difinit la taille de  irem */
    font-size: 10px;

    /* On y définnit os variable CSS */
    /* --nom: valeur */
    --rouge: #79f4fd;
    /* On nomme la couleur #ff0000 sous le nom rouge */
    --bleu: #0000ff;
    --bordure: 1px solid var(--rouge);
}

header {
   
    height: 100vh;
    background-color: #111A39;
    background-image: url(../image/Bannier.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header img {
    width: 50%;
}

.nav{
    display: none;
}

#form-welcom {
    display: none;
}

header nav {
    display: flex; 
    justify-content: space-between;/* Repartition horizontal*/
    align-items: center; /* alignement verticale */
    background-color: rgba(105, 105, 105, 0.5);    
    background-size: cover;
    top: 0rem;
    right: 0rem;
    left: 0;
    z-index: 1;
}

header nav div a {
    color: #699BF7;
    
    margin: 0;
    padding: -1.0rem;

}
header nav div {
    display: inline;
    margin-right: 3.5rem;

}

header nav ul li{
    display: inline;
    margin-left: 2.0rem;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul a{
    color: rgb(0, 255, 0);
    
}

/* Vue mobile */
h1 {
    color: #0000ff;
    font-size: rem;
    text-align: center;

}

h2 {
    font-size: 1.6rem;
    text-align: center;
}

p {
    font-size: 1rem;
}

header section:first-of-type {
    padding: 1.6rem;
    text-align: center;
    color: #699BF7;
    background-color: rgba(105, 105, 105, 0.5);
    margin: auto;
    

}



main {

    padding: 1.0rem;
    width: 100%;
    margin: auto;
    text-align: center;
}

main img {
    width: 80%;
}

main>section{

    padding: 1.8rem;

}

main section div {
    padding: 1.5rem;
    display: flex;
    text-align: center;
}


/* Section Pouquoi nous  */
main section:first-child {
    border-bottom: var(--bordure);
    color: whitesmoke;
    background-color: #2E416F;
}

/* Section deja membre */
main section:nth-child(2) {

    color: whitesmoke;
    background-color: #2E416F;

}

main section:nth-child(2) div {

    display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.0rem;

}


/* Section pour Placer le Boutton "Rejoin-nous" */
main section:nth-child(3) {

    display: flex;
    justify-content: center;

}


/* -------------------------------Boutton-------------------------------------------- */

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #111A39;

    border-radius: 1.0rem;
    background-color: #FFFF00;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),

}

.styled:hover {
    background-color: rgb(0, 119, 255)
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* -------------------------------Boutton-------------------------------------------- */


footer{
    padding: 1.8rem;
    background-color:#2E416F;
    font-size: 1.5rem;

}
footer h3{
    color: #0b3086;
}
footer ul{
    margin: 0;
}
footer li{
    list-style: none ;
    color: white;
   
}
footer p{
    text-align: center;
    color: white;

}
footer hr{
    height: 0.2rem;
    background-color: white;
}
.imagelogo{
    min-width: 200px;
    max-width: 300px;
}
.first-section-footer{
  width: 100%;
}
.social-logo>i{

    color: white;
    margin-left: 1.5rem;

}
.social-logo{
    justify-content: center;
    display: flex;
    width: 100%;
}
.lab {
    background-color:rgb(65, 61, 61) ;
    color:white;
    font-size: 2rem;
    border: white solid 2px;
    border-radius: 50%;
    padding: 0.5rem;
   
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-decoration: none;
}

/********************************* Vue tablette *************************/
/* Ecran et a partir d'une largeur de 600px */
@media screen and (min-width:775px) {

/* --------J'ai mis la nav mobile en none------------- */
    .mobilenav{
        display: none;
    
    }

/*________________ID du formulaire d'inscription________________________ */
    #form-welcom {
        display: none;
    }

    .nav{

        display: flex;

    }

    .logos{
        flex: 1;
    }
    .socialnetwork{
        flex:1;
    }
    .login-container{
        flex: 1;
       
    }
    .login-container>form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input::placeholder {
        text-align: center;
        color: #699BF7;
      }

    .login-container {
            float: none;
      }
    
      input[type=text] {
        padding-top: 0.5rem;
       
        padding-bottom: 0.5rem;
        font-size: 1.7rem;
        border-radius: 1.0rem ;
        border: none;
        width: 150px;
        height: 2rem;
      }

      input[type=Password] {
        padding-top: 1rem;
       
        padding-bottom: 1rem;
        font-size: 1.7rem;
        border-radius: 1.0rem ;
        border: none;
        width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
        height: 2rem;
      }

      input[type=email] {
        padding: 0.1rem;
        margin-top: 2rem;
        font-size: 1.7rem;
        border-radius: 1.0rem ;
        border: none;
        width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
      }

      .login-container button {
        float: right;
        padding: 1rem;
        width: 12rem; 
        background: #699BF7;
        border-radius: 1.0rem ;
        font-size: 1.7rem;
        border: none;
        cursor: pointer;
        margin-left: 1rem;
        color: whitesmoke;
      }

      header nav div a {
        color: #699BF7;
        
    
    }
    header nav div {
        display: inline;
        margin-right: 1.5rem;
    
    }
    
    header nav ul li{
        display: inline;
    
    }
    header nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    header nav {

        background-color: rgba(0, 0, 0, 0.518);
    }

    /* Le CSS s'applique uniquement a partir de 600px de largeur d'ecran */
    /* Dans la media querie on ecris uniquement le code a modifier  */
    :root {
        font-size: 12px;
    }

    h1 {
        color: red;
    }

    /* section deja member  */
    main section:nth-child(2) div {

        display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1.0rem;
    
    }

    main section:first-child {
        border-bottom: none;
        border-right: blue 1px solid;
    }
    .Contact{
        color: #699BF7;
        text-decoration: underline;
        font-size: 2.0rem;
        margin: 0;
        padding: 1.0rem;
        margin-left: 20rem;
        }



}

.container{
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}


.logininfomation{
    display: flex;
    color: #699BF7;
    width: 100%;
    font-size: 1rem;
}

.logininfomation>p{

    width: 50%;
}

.logininfomation>a{
    color: red;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    width: 50%;
    padding-bottom: 0.5rem;
}

/************************************************** Vue ordi *********************************/
/* Ecran de minimum 1000px */
@media screen and (min-width:1000px) {
    header section:first-of-type{
/* 4 lignes "magiques" pour centrer parfaitement un bloc */
            display: flex;
            margin-left: 1.0rem;
            text-align: center;
            background-color: rgba(105, 105, 105, 0.5);
            border-radius: 10px;

            color: #699BF7;
            text-shadow: 1px 1px 1px rgb(0, 0, 0);
            width: 40%;
            padding: 3.0rem;
            box-sizing: border-box;
    
            
}


    header img {
        width: 30%;
    }
 
    h1 {
        display: flex;
        margin-right: 10rem;
        text-decoration: underline;
    }
    
    main section {
        flex: 1;
        text-align: center;
    }

    main section:nth-child(3) {

        display: flex;
        justify-content: right;

    }

    .container {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #699BF7;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        width: 100%;
        padding: 50px;
        box-sizing: border-box;
    }
    
.logos{
    width: 250px;
}

    #form-welcom {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.0rem;

        width: 30rem;
        background-color: rgba(105, 105, 105, 0.5);
        border-radius: 10px;
        padding: 45px;
        box-shadow: 10px 10px 34px -14px rgba(0, 0, 0,);
    }

    .inscriptionbutton{
    border: 0;
    line-height: 2.5;
    padding: 0rem 2.0rem;
    font-size: 1rem;
    text-align: center;
    color: #111A39;
    border-radius: 1.0rem;
    background-color: #FFFF00;

    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    }

    
}