/*________________________________________________________________*

                        Début partie Corps
*_________________________________________________________________*/

.register-body {
    font-family: Roboto;
    background-color: #111A39;
    padding: 0;
    
}
.register-h1{
    font-size: 1.3rem;
    margin: 0.1rem;
    font-weight: normal;
}
.register-a {
    text-decoration: none;
}


.register-header {
    background-image: url(../image/Bannier.png);
    margin: -0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

/*________________________________________________________________*

                        Fin partie Corps
*_________________________________________________________________*/





/*________________________________________________________________*

                    Début partie Navigateur
*_________________________________________________________________*/

.register-nav { /* Navigateur */
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.336);
}
.register-body .fab{ /* Icons */
    margin-top: 0.625rem;
    margin-left: 0.9375rem;
    font-size: 2.5rem;
    color: white;
    margin: 1rem;
}

.register-body nav img { /* Logo */
    width: 11.25rem;
    margin-right: 6.25rem;
}
#connexion-responsive{
    display: none;
}
.register-brand-logo{
    margin-left: 5rem;
}

/*_________________________________________________________________*

                        Fin partie Navigateur
*__________________________________________________________________*/




.register-body #principal { /* Séparations des Sections des Formulaires */
    display: inline-block;
    flex: 1;
}
#all{
    display:flex
}



/*_________________________________________________________________*

                        Début partie Inscription
*__________________________________________________________________*/

#register-inscription {
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    margin-bottom: 2rem ;
    border-radius: 1.25rem;
    border: 0.3125rem solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.514);

}

.register-body #inscription div {
    justify-content: space-around;
}

.register-grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
   
}
.register-grid3{
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color: #699BF7;
}
#register-principal1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#ButtonContact-Rejoindre  { /* Lien "Nous Contacter" */
    margin-left: 2.5rem;
    color: yellow;
    text-decoration: underline;
}

#rejoindre { /* Button Inscription */
    background-color: yellow;
    border: yellow 0.3rem solid;
    color: #073590;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.9rem;
}
.register-body input[type="checkbox"], .accept-cgu{
    margin-top: 1.5rem;
}

.register-body label{
    color: #699BF7;
}

/*_________________________________________________________________*

                        Fin partie inscription
*__________________________________________________________________*/





/* ________________________________________________________________*

                        Début partie Connexion 
*__________________________________________________________________*/

    



.sexe {
    display: grid;
}

.register-body form span { /* phrase CGU */
    color: white;
}

.register-body #connecté { /* Button Connexion */
    background-color: #699BF7;
    border-color: #699BF7;
    color: white;
    margin-top: 0.9375rem;
    margin-left: 50%;
    margin-bottom: 0.9375rem;
}

/*_________________________________________________________________*

                        Fin partie Connexion
*__________________________________________________________________*/





/*_________________________________________________________________*

                    Début partie des Formulaires 
*__________________________________________________________________*/

.form-register {
    margin: 2.5rem;
}

#register-title { /* Labels des formulaires */
    color: #699BF7;
    font-size: large;
}

.form-register div div input {
    border: solid white 0.700rem;
    font-size: large;
    border-radius: 0.9375rem;
}

.form-register div div select { /* Selection du Sexe */
    border: solid white 0.700rem;
    font-size: large;
    border-radius: 0.9375rem;
}

.form-register div div label {
    margin: 0.25rem;
    margin-top: 0;
}
.register-body input[type="date"]{
    width: 13.5rem;
}


.register-body form button { /* Formes des button */
    border: solid 0.625rem;
    border-radius: 1.3125rem;
    font-size: large;
}
#rejoindre{
    display: block;
}

/*_________________________________________________________________*

                Fin de la partie des Formulaires
*__________________________________________________________________*/

@media screen  and (max-width: 1070px){
    .register-body .logo-nav{
        display: none;
    }
    #connexion-responsive{
        display: initial;
        margin: 0.5rem;
        margin-right: 2rem;
        font-size: 1.5rem;
    }
    #inscription{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem ;
        border-radius: 1.25rem;
        border: 0.1125rem solid rgba(0, 0, 0, 0);
    }
    #register-principal2{
        display: none;
    }
    .register-body .fab{
        font-size: 1rem;
        margin: 0.5rem;
    }

    .register-body .lab {
        color:white;
        font-size: 1em;
        border: white solid 2px;
        border-radius: 50%;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
    .register-body label{
        display: block;
    }
    .register-body select, input{
        width: 12rem;
    }
    #register-principal1{
        display: initial;
    }
    .register-grid2{
        display: initial;
    }
    
}
