/*________________________________________________________________*

                        Début partie Corps
*_________________________________________________________________*/

body {
    font-family: Roboto;
    background-color: #111A39;
    padding: 0;
    
}
h1{
    font-size: 1.3rem;
    margin: 0.1rem;
    font-weight: normal;
}
a {
    text-decoration: none;
}


header {
    background-image: url(../uploads/magic-499137_2_1.png);
    margin: -0.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*________________________________________________________________*

                        Fin partie Corps
*_________________________________________________________________*/





/*________________________________________________________________*

                    Début partie Navigateur
*_________________________________________________________________*/

nav { /* Navigateur */
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.336);
}
.fab{ /* Icons */
    margin-top: 0.625rem;
    margin-left: 0.9375rem;
    font-size: 2.5rem;
    color: white;
    margin: 1rem;
}

nav img { /* Logo */
    width: 11.25rem;
    margin-right: 6.25rem;
}
.brand-logo{
    margin-left: 5rem;
}

/*_________________________________________________________________*

                        Fin partie Navigateur
*__________________________________________________________________*/




#principal { /* Séparations des Sections des Formulaires */
    display: inline-block;
    flex: 1;
}
#all{
    display:flex
}



/*_________________________________________________________________*

                        Début partie Inscription
*__________________________________________________________________*/

#inscription {
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    margin-bottom: 2rem ;
    border-radius: 1.25rem;
    border: 0.3125rem solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.514);

}

#inscription div {
    justify-content: space-around;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
   
}
.grid3{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
#principal1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#ButtonContact-Rejoindre  { /* Lien "Nous Contacter" */
    margin-left: 2.5rem;
    color: yellow;
    text-decoration: underline;
}

#rejoindre { /* Button Inscription */
    background-color: yellow;
    border-color: yellow;
    color: #073590;
    margin-top: 1.5rem;
    margin-left: 0%;
}
input[type="checkbox"], .accept-cgu{
    margin-top: 1.5rem;
}

/*_________________________________________________________________*

                        Fin partie inscription
*__________________________________________________________________*/





/* ________________________________________________________________*

                        Début partie Connexion 
*__________________________________________________________________*/
#principal2{
    position: absolute;
    right: 10rem;
}
#connexion {
    margin-top: 3.2rem;
    margin-left: 3.125rem;
    margin-bottom: 1.375rem;
    border: 0.9375rem solid rgba(0, 0, 0, 0);
    border-radius: 1.25rem;
    background-color: rgba(0, 0, 0, 0.514);
}

#connexion h1 {
    margin-left: 5rem;
    color: #699BF7;
}

#connexion2 {
    margin-left: 3.125rem;
    margin-bottom: 1.25rem;
    border-top: solid rgba(0, 0, 0, 0);
    border-radius: 1.25rem;
    background-color: rgba(0, 0, 0, 0.514);
}

#connexion2 div {
    display: grid;
}

.sexe {
    display: grid;
}

form span { /* phrase CGU */
    color: white;
}

#connecté { /* Button Connexion */
    background-color: #699BF7;
    border-color: #699BF7;
    color: white;
    margin-top: 0.9375rem;
    margin-left: 50%;
    margin-bottom: 0.9375rem;
}

/*_________________________________________________________________*

                        Fin partie Connexion
*__________________________________________________________________*/





/*_________________________________________________________________*

                    Début partie des Formulaires 
*__________________________________________________________________*/

form {
    margin: 2.5rem;
}

#title { /* Labels des formulaires */
    color: #699BF7;
    font-size: large;
}

form div div input {
    border: solid white 0.700rem;
    font-size: large;
    border-radius: 0.9375rem;
}

form div div select { /* Selection du Sexe */
    border: solid white 0.700rem;
    font-size: large;
    border-radius: 0.9375rem;
}

form div div label {
    margin: 0.25rem;
    margin-top: 0;
}
input[type="date"]{
    width: 13.5rem;
}


form button { /* Formes des button */
    border: solid 0.625rem;
    border-radius: 1.3125rem;
    font-size: large;
}
#rejoindre{
    display: block;
}

/*_________________________________________________________________*

                Fin de la partie des Formulaires
*__________________________________________________________________*/

@media screen  and (max-width: 1070px){
    .logo-nav{
        display: none;
    }
    #connexion-responsive{
        display: initial;
        margin: 0.5rem;
        margin-right: 2rem;
        font-size: 1.5rem;
    }
    #inscription{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem ;
        border-radius: 1.25rem;
        border: 0.1125rem solid rgba(0, 0, 0, 0);
    }
    #principal2{
        display: none;
    }
    .fab{
        font-size: 1rem;
        margin: 0.5rem;
    }

    .lab {
        color:white;
        font-size: 1em;
        border: white solid 2px;
        border-radius: 50%;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
    label{
        display: block;
    }
    select, input{
        width: 12rem;
    }
    #principal1{
        display: initial;
    }
    .grid2{
        display: initial;
    }
}
